footer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,25,112,1) 50%, rgba(0,170,255,1) 100%);
    color: white;
}

.redes-sociais {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
}

.redes-sociais li {
    padding: 10px;
    
}

.fa {
    font-size: 50px;
    color: white;
}

.fa-facebook-square:hover {
    color: #023299;
}

.fa-instagram:hover {
    color: #c13584;
}

.fa-linkedin-square:hover {
    color: #0072b1;
}