<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 d-flex align-items-center justify-content-center bg-color">
            <img src="/assets/Blog post-amico.png" alt="" width="550">
        </div>

        <div class="col-md-5 d-flex align-items-center justify-content-center">

            <form>
                <h1 class="text-center mb-4">Login</h1>
                <div class="form-group">
                    <label for="usuario">Usuário</label>
                    <input [(ngModel)]='usuarioLogin.usuario' type="text" class="form-control w-350" id="usuario" name="usuario"
                        placeholder="Seu usuário">
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input [(ngModel)]='usuarioLogin.senha' type="password" class="form-control w-350" id="senha" name="senha" placeholder="Senha">
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-block" (click)='logar()'>Entrar</button>
                </div>

                <hr class="mt-4">

                <p class="text-center">Não tem uma conta? <a routerLink="/cadastro">Cadastre-se</a></p>

            </form>
        </div>
    </div>
</div>