.nav {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,25,112,1) 50%, rgba(0,170,255,1) 100%);
}

.nav-link {
    color: white
}
.linkfx:hover {
    color: rgb(187, 187, 187)
}

/* button:focus {
     box-shadow: none;
    border: none;
    outline: none;
} */

a {
    cursor: pointer;
}